<html>
<head>
    <title>KENGLISH</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css"> <!-- load fontawesome -->
    <style>
    </style>
</head>
<body>
    <script>
    </script>
    <div class='container'>
        <h1>Lesson <%= lesson[0].number %></h2>
        <p style='font-size: 28px'><%= lesson[0].title %></p>
        <table class='table table-striped' style='font-size:24px'>
            <thead>
                <tr>
                    <th>Vocabulary</th>
                    <th>Meaning</th>
                </tr>
            </thead>
            <tbody>
            <% for (var i = 0; i < lesson.length; i ++) { %>
                <tr>
                    <td><%= lesson[i].vocabulary %></td>
                    <td><%= lesson[i].mean %></td>
                </tr>
            <% } %>            
            </tbody>
        </table>
        <div style='text-align:center; font-size: 24px'><a href='/'>HOME</a></div>
    </div>
</body>
</html>
